FORMAT: 1A
HOST: http://poupon.me/

# Poupon

Poupon is a simple API allowing consumers to grab data about hip hop.

# Allowed HTTP Requests:
<pre>
    GET : Get a resource or list of resources
</pre>

# Description Of Usual Server Responses:
- 200 `OK` - the request was successful
- 404 'Not Found' - the request was unsuccessful, data not available in database

# Group Artists

## Artist Collection [/api/artists?page={page}&city={city}&genre={genre}&sort={sort}&order={order}]

### Get All Artists [GET]
This will return all of the artist objects in the database. By default, sorting
order will be by popularity in descending order. By default, there is no paging (all entries returned).

+ Parameters
    + city: 'New York City' (String, optional) - query variable denoting 
    the city to filter by
    + genre: 'pop' (String,optional) - query variable denoting the genre
    to filter by
    + sort: 'alpha' (String,optional) - query variable to denote sorting type;
    only alpha,popularity are valid sorting types
    + order: 'desc' (String,optional) - query variable to denote the sorting order;
    only desc,asc are valid sorting orders (by default it will sort by desc)
    + page: '1' (String,optional) - query variable to denote the page number entries
    to return (12 entries returned per page).
    

+ Response 200 (application/json)

        [
            {
                "artist_id": 472, 
                "artist_picture_link": "https://i.scdn.co/image/cb080366dc8af1fe4dc90c4b9959794794884c66", 
                "name": "Drake", 
                "popularity": 100, 
                "spotify_id": "3TVXtAsR1Inumwj472S9r4"
            }, 
            {
                "artist_id": 449, 
                "artist_picture_link": "https://i.scdn.co/image/3fc1d32020788a97662a9d089ce82df4e622f219", 
                "name": "Post Malone", 
                "popularity": 99, 
                "spotify_id": "246dkjvS1zLTtiykXe5h60"
            }, 
            {
                "artist_id": 509, 
                "artist_picture_link": "https://i.scdn.co/image/7752ce73f4d0720acc6a4c46cb2d2f40f344f834", 
                "name": "Khalid", 
                "popularity": 99, 
                "spotify_id": "6LuN9FCkKOj5PcnpouEgny"
            }, 
            {
                "artist_id": 442, 
                "artist_picture_link": "https://i.scdn.co/image/5c3cf2ee3494e2da71dcf26303202ec491b26213", 
                "name": "Justin Bieber", 
                "popularity": 98, 
                "spotify_id": "1uNFoZAHBGtllmzznpCI3s"
            }
        ]

## Artist [/api/artists/{artist_id}]

### Get Specific Artist [GET]
This will provide a single artist model, given their Artist ID. The
returned model contains related cities,news, and albums associated with the artist ID
specified.

+ Parameters
    + artist_id: '405' (integer,required) - ID of the Artist in our Database
    
+ Response 200 (application/json)

        {
          "albums": [
            {
              "album_id": 3694, 
              "album_picture_link": "https://i.scdn.co/image/c050bd363e83a1e285f3249ae34f43e445c0cd6f", 
              "artist_id": 405, 
              "name": "In My Mind", 
              "popularity": 61, 
              "release_date": "Fri, 19 Feb 2016 00:00:00 GMT", 
              "spotify_id": "15iSR05cslUeYgf2kuWDhu"
            }, 
            {
              "album_id": 3695, 
              "album_picture_link": "https://i.scdn.co/image/201cb5a5f87285d4925705dd4078fda00c243076", 
              "artist_id": 405, 
              "name": "Pineapple Now-Laters", 
              "popularity": 53, 
              "release_date": "Tue, 21 Feb 2012 00:00:00 GMT", 
              "spotify_id": "2pGf7mMaV60uMDchGAMcXF"
            }
          ], 
          "artist": {
            "artist_id": 405, 
            "artist_picture_link": "https://i.scdn.co/image/92ce19f01aa91945aefdec8b109ab7b80bf1387a", 
            "name": "BJ The Chicago Kid", 
            "popularity": 73, 
            "spotify_id": "07d5etnpjriczFBB8pxmRe"
          }, 
          "cities": [
            {
              "city_id": 12, 
              "city_picture_link": "https://upload.wikimedia.org/wikipedia/en/8/82/DuPage_County_Illinois_Incorporated_and_Unincorporated_areas_Chicago_Highlighted.svg", 
              "name": "Chicago", 
              "population": 2704958, 
              "state": "IL"
            }
          ], 
          "news": [
            {
              "article_id": 1320, 
              "date": "Wed, 11 Jan 2017 00:00:00 GMT", 
              "media_link": "https://twitter.com/rnbsupreme/status/819007571436720131", 
              "thumbnail": "https://i.scdn.co/image/92ce19f01aa91945aefdec8b109ab7b80bf1387a", 
              "title": "BJ The Chicago Kid Sings National Anthem At President Obama\u2019s Farewell Address", 
              "upvotes": 2643
            }
          ]
        }
        
## Top Artists [/api/artists/top/{?limit}]

### Get Top Artists [GET]
This provides the top N artists (sorting is by popularity)

+ Parameters
    + limit: '5' (integer, optional) - Number of documents to pull 
        + Default: 5

+ Response 200 (application/json)

        [
          {
            "artist_id": 472, 
            "artist_picture_link": "https://i.scdn.co/image/cb080366dc8af1fe4dc90c4b9959794794884c66", 
            "name": "Drake", 
            "popularity": 100, 
            "spotify_id": "3TVXtAsR1Inumwj472S9r4"
          }, 
          {
            "artist_id": 509, 
            "artist_picture_link": "https://i.scdn.co/image/7752ce73f4d0720acc6a4c46cb2d2f40f344f834", 
            "name": "Khalid", 
            "popularity": 99, 
            "spotify_id": "6LuN9FCkKOj5PcnpouEgny"
          }, 
          {
            "artist_id": 449, 
            "artist_picture_link": "https://i.scdn.co/image/3fc1d32020788a97662a9d089ce82df4e622f219", 
            "name": "Post Malone", 
            "popularity": 99, 
            "spotify_id": "246dkjvS1zLTtiykXe5h60"
          }, 
          {
            "artist_id": 442, 
            "artist_picture_link": "https://i.scdn.co/image/5c3cf2ee3494e2da71dcf26303202ec491b26213", 
            "name": "Justin Bieber", 
            "popularity": 98, 
            "spotify_id": "1uNFoZAHBGtllmzznpCI3s"
          }, 
          {
            "artist_id": 485, 
            "artist_picture_link": "https://i.scdn.co/image/17f68c8464b468546a6b0a717708842a3cc4b79d", 
            "name": "Lil Uzi Vert", 
            "popularity": 96, 
            "spotify_id": "4O15NlyKLIASxsJ0PrXPfz"
          }, 
          {
            "artist_id": 501, 
            "artist_picture_link": "https://i.scdn.co/image/7a14a83633fc6c00c3977d134397b7235f888cdf", 
            "name": "Rihanna", 
            "popularity": 96, 
            "spotify_id": "5pKCCKE2ajJHZ9KAiaK11H"
          }, 
          {
            "artist_id": 454, 
            "artist_picture_link": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
            "name": "Kendrick Lamar", 
            "popularity": 96, 
            "spotify_id": "2YZyLoL8N0Wb9xBt1NhZWg"
          }, 
          {
            "artist_id": 433, 
            "artist_picture_link": "https://i.scdn.co/image/b0d670ac865dbfaf520997e7a8fadae15c7729bb", 
            "name": "21 Savage", 
            "popularity": 96, 
            "spotify_id": "1URnnhqYAYcrqrcwql10ft"
          }, 
          {
            "artist_id": 411, 
            "artist_picture_link": "https://i.scdn.co/image/bbab705fecb1133cf5d3580f7cdb32966797b7e4", 
            "name": "Travis Scott", 
            "popularity": 95, 
            "spotify_id": "0Y5tJX1MQlPlqiwlOH1tJY"
          }, 
          {
            "artist_id": 425, 
            "artist_picture_link": "https://i.scdn.co/image/e8eeadc5509005396978782adedc3cb3e924bc4d", 
            "name": "Gucci Mane", 
            "popularity": 95, 
            "spotify_id": "13y7CgLHjMVRMDqxdx0Xdo"
          }
        ]

## Artist Search [/api/artists/search/{term}]

### Search Artists[GET]
This will contain a list of the City models that match the search term used.

+ Parameters
    + term: 'Lamar' (String) - the term to search for
    
+ Response 200 (application/json)

        [
             {
               “artist_id”: 454,
               “artist_picture_link”: “https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7 (208 kB)“,
               “name”: “Kendrick Lamar”,
               “popularity”: 96,
               “search_vector”: “‘kendrick’:1 ‘lamar’:2”,
               “spotify_id”: “2YZyLoL8N0Wb9xBt1NhZWg”
             }
        ]


# Group Albums

## Albums Collection [/api/albums?genre={genre}&relyear={relyear}&sort={sort}&order={order}&page={page}]

### Get All Albums [GET]
This will return all of the albums in the database. By default, the albums
are sorted by album popularity in descending order. By default, there is no paging
(all albums returned).

+ Parameters
    + relyear: '2001' (String, optional) - query variable denoting 
    the release date (by year) to filter on
    + genre: 'pop' (String,optional) - query variable denoting the genre
    to filter by
    + sort: 'alpha' (String,optional) - query variable to denote sorting type;
    only alpha,popularity,reldate are valid sorting types
    + order: 'desc' (String,optional) - query variable to denote the sorting order;
    only desc,asc are valid sorting orders (by default it will sort by desc)
    + page: '1' (String,optional) - query variable to denote the page number entries
    to return (12 entries returned per page).
    
+ Response 200 (application/json)

        [
            {
                "album_id": 4253, 
                "album_picture_link": "https://i.scdn.co/image/5026fddc6c0b69e931ae99130f15d4214f1e7d41", 
                "artist_id": 509, 
                "name": "American Teen", 
                "popularity": 96, 
                "release_date": "Thu, 27 Apr 2017 00:00:00 GMT", 
                "spotify_id": "6kf46HbnYCZzP6rjvQHYzg"
              }, 
              {
                "album_id": 3816, 
                "album_picture_link": "https://i.scdn.co/image/6fdafb637a3447689440ade1a57a0e3435befd17", 
                "artist_id": 426, 
                "name": "17", 
                "popularity": 96, 
                "release_date": "Fri, 25 Aug 2017 00:00:00 GMT", 
                "spotify_id": "5VdyJkLe3yvOs0l4xXbWp0"
              }, 
              {
                "album_id": 4102, 
                "album_picture_link": "https://i.scdn.co/image/0ea8577fe124691ddce00bccf9677b16166a21db", 
                "artist_id": 485, 
                "name": "Luv Is Rage 2", 
                "popularity": 95, 
                "release_date": "Fri, 25 Aug 2017 00:00:00 GMT", 
                "spotify_id": "733e1ZfktLSwj96X5rsMeE"
              }, 
              {
                "album_id": 3968, 
                "album_picture_link": "https://i.scdn.co/image/661e1a935e2eacdd45c05ef618565535e7bed2ad", 
                "artist_id": 454, 
                "name": "DAMN.", 
                "popularity": 92, 
                "release_date": "Fri, 14 Apr 2017 00:00:00 GMT", 
                "spotify_id": "4eLPsYPBmXABThSJ821sqY"
              }, 
              {
                "album_id": 4317, 
                "album_picture_link": "https://i.scdn.co/image/6fe3712b430fc0ff32e06b355014324a481f7a9c", 
                "artist_id": 521, 
                "name": "Jungle Rules", 
                "popularity": 91, 
                "release_date": "Fri, 14 Jul 2017 00:00:00 GMT", 
                "spotify_id": "4c2p3TdN7NcQfCXyueCNnC"
              }
        ]
        
## Album [/api/albums/{album_id}]
### Get Album [GET]
This will provide an album model, given by its album ID. The
returned model contains related cities,news, and albums associated with the album ID
specified.
    
+ Parameters
    + album_id: `3694` (integer) - The ID of the album
    
+ Response 200 (application/json)
        
        {
          "album": {
            "album_id": 3968, 
            "album_picture_link": "https://i.scdn.co/image/661e1a935e2eacdd45c05ef618565535e7bed2ad", 
            "artist_id": 454, 
            "name": "DAMN.", 
            "popularity": 92, 
            "release_date": "Fri, 14 Apr 2017 00:00:00 GMT", 
            "spotify_id": "4eLPsYPBmXABThSJ821sqY"
          }, 
          "artist": {
            "artist_id": 454, 
            "artist_picture_link": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
            "name": "Kendrick Lamar", 
            "popularity": 96, 
            "spotify_id": "2YZyLoL8N0Wb9xBt1NhZWg"
          }, 
          "news": [
            {
              "article_id": 647, 
              "date": "Fri, 27 Oct 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/795g54/giveaway_10_copies_of_kendricks_lamar_damn_on/", 
              "thumbnail": "https://i.scdn.co/image/661e1a935e2eacdd45c05ef618565535e7bed2ad", 
              "title": "[GIVEAWAY] 10 copies of Kendrick's Lamar \"DAMN.\" on Vinyl", 
              "upvotes": 1441
            }, 
            {
              "article_id": 811, 
              "date": "Thu, 24 Aug 2017 00:00:00 GMT", 
              "media_link": "http://pitchfork.com/news/kendrick-lamar-says-damn-was-designed-to-be-played-backwards/?mbid=social_facebook", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "Kendrick Lamar Says DAMN. Was Designed to Be Played Backwards", 
              "upvotes": 3891
            }, 
            {
              "article_id": 392, 
              "date": "Sun, 07 May 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/69q3lc/theory_kendrick_lamars_three_major_studio_albums/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "Theory: Kendrick Lamar's three major studio albums (good kid, m.A.A.d. city, To Pimp a Butterfly, DAMN.) are an adaptation of the Matrix trilogy.", 
              "upvotes": 9548
            }, 
            {
              "article_id": 468, 
              "date": "Mon, 24 Apr 2017 00:00:00 GMT", 
              "media_link": "https://twitter.com/kendricklamar/status/856463682024243200", 
              "thumbnail": "https://i.scdn.co/image/bbab705fecb1133cf5d3580f7cdb32966797b7e4", 
              "title": "Kendrick Lamar announces DAMN. Tour w/ Travis Scott & D.R.A.M", 
              "upvotes": 8998
            }, 
            {
              "article_id": 739, 
              "date": "Fri, 21 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/66si7c/kendrick_lamars_damn_sells_610k_first_week_362k/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "Kendrick Lamar's \"DAMN.\" sells 610K first week (362K Pure). Playboi Carti's \"Playboi Carti\" sells 15K (8K Pure). Drake's \"More Life\" goes platinum.", 
              "upvotes": 4385
            }, 
            {
              "article_id": 503, 
              "date": "Tue, 18 Apr 2017 00:00:00 GMT", 
              "media_link": "http://pitchfork.com/reviews/albums/23147-damn/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "Kendrick Lamar's album, \"DAMN.\" awarded a 9.2 by Pitchfork", 
              "upvotes": 5930
            }, 
            {
              "article_id": 795, 
              "date": "Tue, 18 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.youtube.com/watch?v=RIGINiBYxis&feature=push-u-sub&attr_tag=V0p6ODWIbESS4GF6-6", 
              "thumbnail": "https://i.ytimg.com/vi/RIGINiBYxis/hqdefault.jpg", 
              "title": "Kendrick Lamar - DAMN. ALBUM REVIEW", 
              "upvotes": 3963
            }, 
            {
              "article_id": 480, 
              "date": "Sat, 15 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.youtube.com/watch?v=len0zRQzMDQ", 
              "thumbnail": "https://i.ytimg.com/vi/len0zRQzMDQ/hqdefault.jpg", 
              "title": "BIGQUINT | \"DAMN.\" REACTION", 
              "upvotes": 7449
            }, 
            {
              "article_id": 768, 
              "date": "Fri, 14 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/65fpbu/first_impressions_kendrick_lamar_damn/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "[FIRST IMPRESSIONS] Kendrick Lamar - DAMN.", 
              "upvotes": 4188
            }, 
            {
              "article_id": 701, 
              "date": "Thu, 13 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/658lsq/leak_kendrick_lamar_damn/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "[LEAK] Kendrick Lamar- DAMN.", 
              "upvotes": 4803
            }, 
            {
              "article_id": 380, 
              "date": "Thu, 13 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.reddit.com/r/hiphopheads/comments/65a5s2/fresh_kendrick_lamar_damn/", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "[FRESH] Kendrick Lamar - DAMN.", 
              "upvotes": 21651
            }, 
            {
              "article_id": 391, 
              "date": "Tue, 11 Apr 2017 00:00:00 GMT", 
              "media_link": "https://www.instagram.com/p/BSvcjL3BZDY/?taken-by=kendricklamar", 
              "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
              "title": "Kendrick Lamar \"DAMN.\" Album Tracklist", 
              "upvotes": 10087
            }
          ]
        }

## All Albums by Artist [/api/albums/artists/{artist_id}]
### Get All Albums by Artist [GET]

    This will return all albums related to an artist.

+ Parameters
    + artist_id: '442' (integer,required) - ID of the Artist in our Database
    
+ Response 200 (application/json)

        [
          {
            "album_id": 3179, 
            "album_picture_link": "https://i.scdn.co/image/c050bd363e83a1e285f3249ae34f43e445c0cd6f", 
            "artist_id": 405, 
            "name": "In My Mind", 
            "release_date": "Fri, 19 Feb 2016 00:00:00 GMT", 
            "spotify_id": "15iSR05cslUeYgf2kuWDhu"
          }, 
          {
            "album_id": 3180, 
            "album_picture_link": "https://i.scdn.co/image/201cb5a5f87285d4925705dd4078fda00c243076", 
            "artist_id": 405, 
            "name": "Pineapple Now-Laters", 
            "release_date": "Tue, 21 Feb 2012 00:00:00 GMT", 
            "spotify_id": "2pGf7mMaV60uMDchGAMcXF"
          }
        ]

## Album Search [/api/albums/search/{term}]

### Search Albums[GET]
This will contain a list of the Album models that match the search term used.

+ Parameters
    + term: 'DAMN' (String) - the term to search for
    
+ Response 200 (application/json)

        [
          {
            "album_id": 3968, 
            "album_picture_link": "https://i.scdn.co/image/661e1a935e2eacdd45c05ef618565535e7bed2ad", 
            "artist_id": 454, 
            "name": "DAMN.", 
            "popularity": 92, 
            "release_date": "Fri, 14 Apr 2017 00:00:00 GMT", 
            "search_vector": "'damn':1", 
            "spotify_id": "4eLPsYPBmXABThSJ821sqY"
          }
        ]
        


# Group News
            
## News Collection [/api/news?page={page}&media={media}&sort={sort}&order={order}]

### Get All Articles [GET]
This will return all of the news articles in the database. By default, the
news articles are not sorted. By default, there is no paging
(all articles returned).

+ Parameters
    + media: 'youtube' (String, optional) - query variable denoting 
    the type of media to filter by. Only youtube, itunes, soundcloud, reddit are valid filters
    + sort: 'alpha' (String,optional) - query variable to denote sorting type;
    only upvotes,reldate are valid sorting types
    + order: 'desc' (String,optional) - query variable to denote the sorting order;
    only desc,asc are valid sorting orders (by default it will sort by desc)
    + page: '1' (String,optional) - query variable to denote the page number entries
    to return (12 entries returned per page).

+ Response 200 (application/json)

        [
            {
                "article_id": 386, 
                "date": "Thu, 03 Mar 2016 00:00:00 GMT", 
                "media_link": "https://itunes.apple.com/us/album/untitled-unmastered./id1089846273", 
                "thumbnail": "https://i.scdn.co/image/106c76de27f7e556ebb43947aadd1228862d6cd7", 
                "title": "[FRESH EP] Kendrick Lamar - untitled unmastered.", 
                "upvotes": 11141
            }, 
            {
                "article_id": 381, 
                "date": "Tue, 10 Oct 2017 00:00:00 GMT", 
                "media_link": "https://www.youtube.com/watch?v=LunHybOKIjU", 
                "thumbnail": "https://i.ytimg.com/vi/LunHybOKIjU/hqdefault.jpg", 
                "title": "[SHOTS FIRED] Eminem BET Hip Hop Awards Cypher Trump Diss", 
                "upvotes": 18514
            }, 
            {
                "article_id": 382, 
                "date": "Mon, 18 Jan 2016 00:00:00 GMT", 
                "media_link": "https://soundcloud.com/kanyewest/nomorepartiesinla", 
                "thumbnail": "https://i.embed.ly/1/image?url=http%3A%2F%2Fi1.sndcdn.com%2Fartworks-000143597723-28pt9g-t500x500.jpg&key=b1e305db91cf4aa5a86b732cc9fffceb", 
                "title": "[FRESH] Kanye West ft. Kendrick Lamar - No More Parties In LA", 
                "upvotes": 15675
            }, 
            {
                "article_id": 387, 
                "date": "Mon, 10 Jul 2017 00:00:00 GMT", 
                "media_link": "https://www.reddit.com/r/hiphopheads/comments/6mexdk/tyler_the_creator_comes_out_as_gay_on_his_new/", 
                "thumbnail": "https://i.scdn.co/image/26e10f3fd0573e87a83e6611428b01420865d1f9", 
                "title": "Tyler, The Creator comes out as gay on his new album", 
                "upvotes": 11031
            }
        ]

## Articles [/api/news/{ISO_date}]

### Get Relevant Articles [GET]
    
    This will return relevant news articles by the date specified.
    
+ Parameters 
    + ISO_date: `2017-9-28` (String) - Date in ISO Format

+ Response 200 (application/json)

        [
            {
                "article_id": 387, 
                "date": "Mon, 10 Jul 2017 00:00:00 GMT", 
                "media_link": "https://www.reddit.com/r/hiphopheads/comments/6mexdk/tyler_the_creator_comes_out_as_gay_on_his_new/", 
                "thumbnail": "https://i.scdn.co/image/26e10f3fd0573e87a83e6611428b01420865d1f9", 
                "title": "Tyler, The Creator comes out as gay on his new album", 
                "upvotes": 11031
            }
        ]
        
## News Search [/api/news/search/{term}]

### Search News[GET]
This will contain a list of the article models that match the search term used.

+ Parameters
    + term: 'los' (String) - the term to search for
    
+ Response 200 (application/json)

        [
          {
            "article_id": 609, 
            "date": "Tue, 24 Oct 2017 00:00:00 GMT", 
            "media_link": "http://www.abc.net.au/news/2017-10-25/new-zealand-nationals-lose-eminem-court-case/9084730?sf125022096=1", 
            "search_vector": "'500k':5 'copyright':14 'due':11 'eminem':1 'infring':15 'lose':17 'made':3 'nation':9 'nz':8 'parti':10", 
            "thumbnail": "", 
            "title": "Eminem just made over $500k from the NZ National Party due to their copyright infringement of 'Lose Yourself'", 
            "upvotes": 1558
          }, 
          {
            "article_id": 586, 
            "date": "Thu, 26 Oct 2017 00:00:00 GMT", 
            "media_link": "http://variety.com/2017/music/news/eminem-to-donate-lose-yourself-new-zealand-lawsuit-proceeds-to-hurricane-relief-1202599966/", 
            "search_vector": "'000':5 '415':4 'donat':3 'eminem':1 'hurrican':12 'lawsuit':10 'lose':8 'relief':13 'win':6", 
            "thumbnail": "", 
            "title": "Eminem to Donate $415,000 winnings from :Lose Yourself\" lawsuit to Hurricane Relief", 
            "upvotes": 5183
          }, 
          {
            "article_id": 732, 
            "date": "Tue, 15 Mar 2016 00:00:00 GMT", 
            "media_link": "https://www.reddit.com/r/hiphopheads/comments/4aimx8/5_years_ago_today_the_hiphop_community_lost_west/", 
            "search_vector": "'03/15/2011':19 '08/19/1969':18 '41':20 '5':1 'ago':3 'coast':12 'communiti':9 'dogg':16 'hale':17 'hip':7 'hip-hop':6 'hop':8 'lost':10 'nate':15 'nathaniel':14 'pioneer':13 'today':4 'west':11 'year':2,21 'young':22", 
            "thumbnail": "", 
            "title": "5 Years Ago Today, The Hip-hop Community lost West Coast Pioneer, Nathaniel \u201cNate Dogg\u201d Hale, 08/19/1969 - 03/15/2011 (41 YEARS YOUNG!)", 
            "upvotes": 4451
          }, 
          {
            "article_id": 774, 
            "date": "Sun, 16 Jul 2017 00:00:00 GMT", 
            "media_link": "http://blkdmnds.com/2017/07/quavo-loses-hard-drive-culture-2-was-recorded-on/", 
            "search_vector": "'2':6 'cultur':5 'drive':4 'hard':3 'lose':2 'quavo':1 'record':8", 
            "thumbnail": "https://i.scdn.co/image/f56f23cbd3783f8594a4871ca0424ffb9de7a5cd", 
            "title": "Quavo Loses Hard Drive Culture 2 Was Recorded On", 
            "upvotes": 4154
          }, 
          {
            "article_id": 1139, 
            "date": "Fri, 28 Jul 2017 00:00:00 GMT", 
            "media_link": "https://www.reddit.com/r/hiphopheads/comments/6q8vwa/tyler_the_creators_flower_boy_sells_104k_first/", 
            "search_vector": "'104k':8 '31k':29 '37k':20 '6k':32 '72k':11 '87k':19 'boomin':24 'boy':6 'creator':3 'first':9,30 'flower':5 'loss':17 'meek':13 'metro':23 'mill':14 'nav':22 'perfect':26 'pure':12,21,33 'sell':7,18,28 'time':27 'tyler':1 'week':10,31 'win':16", 
            "thumbnail": "https://i.scdn.co/image/b67411789ff4f8014fc63cc231ea49f2ec184f44", 
            "title": "Tyler, the Creator's \"Flower Boy\" sells 104K first week (72K Pure). Meek Mill's \"Wins & Losses\" sells 87K (37K Pure). Nav & Metro Boomin's \"Perfect Timing\" sells 31K first week (6K Pure).", 
            "upvotes": 3119
          }, 
          {
            "article_id": 1145, 
            "date": "Tue, 18 Jul 2017 00:00:00 GMT", 
            "media_link": "https://www.youtube.com/watch?v=Kk8NVDzAF1s", 
            "search_vector": "'brown':4 'danni':3 'fresh':1 'lost':5 'video':2", 
            "thumbnail": "https://i.ytimg.com/vi/Kk8NVDzAF1s/hqdefault.jpg", 
            "title": "[FRESH VIDEO] Danny Brown - Lost", 
            "upvotes": 3104
          }, 
          {
            "article_id": 1381, 
            "date": "Mon, 20 Jun 2016 00:00:00 GMT", 
            "media_link": "http://www.xxlmag.com/news/2016/06/drake-loses-bet-french-montana/", 
            "search_vector": "'000':4 '2016':7 '60':3 'bet':5 'drake':1 'final':9 'french':11 'lose':2 'montana':12 'nba':8", 
            "thumbnail": "https://i.scdn.co/image/cb080366dc8af1fe4dc90c4b9959794794884c66", 
            "title": "Drake Loses $60,000 Bet on 2016 NBA Finals to French Montana", 
            "upvotes": 2501
          }
        ]

# Group Cities
            
## Cities Collection [/api/cities?page={page}&state={state}&poprange={poprange}&sort={sort}&order={order}]

### List All Cities [GET]
This will return all of the cities in the database. By default, the
cities are not sorted. By default, there is no paging (all entries returned).

+ Parameters
    + state: 'CA' (String, optional) - query variable denoting 
    the state to filter by. The state is given by its two letter abreviation.
    + sort: 'alpha' (String,optional) - query variable to denote sorting type;
    only alpha,population are valid sorting types
    + poprange: '1' (String, optional) - query variable denoting the
    population range to filter by. The variable given is a flag representing a range (e.g 1 => [0-500000])
    + order: 'desc' (String,optional) - query variable to denote the sorting order;
    only desc,asc are valid sorting orders (by default it will sort by desc)
    + page: '1' (String,optional) - query variable to denote the page number entries
    to return (12 entries returned per page).
    
+ Response 200 (application/json)

        [
          {
            "city_id": 12, 
            "city_picture_link": "https://upload.wikimedia.org/wikipedia/en/8/82/DuPage_County_Illinois_Incorporated_and_Unincorporated_areas_Chicago_Highlighted.svg", 
            "name": "Chicago", 
            "population": 2704958, 
            "state": "IL"
          }, 
          {
            "city_id": 13, 
            "city_picture_link": "https://upload.wikimedia.org/wikipedia/en/6/62/Los_Angeles_County_California_Incorporated_and_Unincorporated_areas_Compton_Highlighted_0615044.svg", 
            "name": "Compton", 
            "population": 97550, 
            "state": "CA"
          }, 
          {
            "city_id": 14, 
            "city_picture_link": "https://upload.wikimedia.org/wikipedia/en/6/62/Los_Angeles_County_California_Incorporated_and_Unincorporated_areas_Compton_Highlighted_0615044.svg", 
            "name": "Los Angeles", 
            "population": 3976322, 
            "state": "CA"
          }
        ]
        
## City [/api/cities/{city_id}]

### Get Specific City [GET]
This will return a city model, give by the city id specified. The returned model
contains related artists and news associated with the city id specified.

+ Parameters
    + city_id: `11` (Integer) - ID number of the city

+ Response 200 (application/json)

        {
            {
              "artists": [
                {
                  "artist_id": 495, 
                  "artist_picture_link": "https://i.scdn.co/image/cd25fcb9d746bd0e164ee8e79c67ca94708b69bb", 
                  "name": "GoldLink", 
                  "popularity": 78, 
                  "spotify_id": "5XenQ7XfcvQdfIbpLEFaKQ"
                }, 
                {
                  "artist_id": 505, 
                  "artist_picture_link": "https://i.scdn.co/image/ad19fc7b636c3e986b22947ec44dcc1c605aec70", 
                  "name": "Wale", 
                  "popularity": 81, 
                  "spotify_id": "67nwj3Y5sZQLl72VNUHEYE"
                }, 
                {
                  "artist_id": 535, 
                  "artist_picture_link": "https://i.scdn.co/image/c8bc9979554744c06b3c62b7e94b82cd9303ec81", 
                  "name": "Ginuwine", 
                  "popularity": 72, 
                  "spotify_id": "7r8RF1tN2A4CiGEplkp1oP"
                }
              ], 
              "city": {
                "city_id": 41, 
                "city_picture_link": "https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Washington%2C_D.C._locator_map.svg/640px-Washington%2C_D.C._locator_map.svg.png", 
                "name": "Washington D.C.", 
                "population": 681170, 
                "state": "DC"
              }, 
              "news": []
            }
        }

## City Search [/api/cities/search/{term}]

### Search Cities[GET]
This will contain a list of the City models that match the search term used.

+ Parameters
    + term: 'Angeles' (String) - the term to search for
    
+ Response 200 (application/json)

        [
          {
            "city_id": 14, 
            "city_picture_link": "https://upload.wikimedia.org/wikipedia/en/6/62/Los_Angeles_County_California_Incorporated_and_Unincorporated_areas_Compton_Highlighted_0615044.svg", 
            "name": "Los Angeles", 
            "population": 3976322, 
            "search_vector": "'angel':2 'ca':3 'los':1", 
            "state": "CA"
          }
        ]