.App {
    font-family: 'sans-serif';
}

.App-intro {
  font-size: large;
}

.Container {
    padding: 1em;
}

div[class^="col-"], div[class*=" col-"] {
    padding: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
